{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>An simple example with django-ace</title>
    {{ form.media }}
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"/>
    </form>

    {% for snippet in snippets %}
 
    <pre>{{ snippet.text }}</pre>
    {% endfor %}

    {% autoescape off %}
    {{ output }}
    {% endautoescape %}

    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}

</body>
</html>
{% endblock %}